#include <stdio.h>
#include <locale.h>

int main (void){
setlocale(LC_ALL, "portuguese");

float n1, n2, n3, n4, total;

	printf("Digite suas 4 notas respectivamente: ");
	scanf("%f %f %f %f", &n1, &n2, &n3, &n4);
	
	total = (n1+n2+n3+n4)/4;
	
	printf("Você ficou com %.1f", total);

return 0;
}
